NEXT_PUBLIC_SUPABASE_URL=https://twpoksihpgleuelldgak.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3cG9rc2locGdsZXVlbGxkZ2FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3Nzk4ODQsImV4cCI6MjA5NjM1NTg4NH0.nti7Lv1LufvRWdpLg97oGjcjMAQnEtaQC_GBt9wSfvY
